body {
    text-align: center;
    background-color: black;
}

.website.name {
    color: rgb(181, 92, 62);
    font-size: 80px;
    font-family: ;
}

img {
    height: 500px;
    width: 800px;
    
}

a {
   color: yellow;
   
}




